In [1]:
## Importing necessory libraraies

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

C:\Users\ABINESH\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
fact_order_lines=pd.read_csv("D:/python practice projects/supply and chain/C2 Input for participants/fact_order_lines.csv")
fact_order_lines

,order_id,order_placement_date,customer_id,product_id,order_qty,agreed_delivery_date,actual_delivery_date,delivery_qty,In Full,On Time,On Time In Full
0,FMR34203601,"Tuesday, March 1, 2022",789203,25891601,110,"Friday, March 4, 2022","Friday, March 4, 2022",110,1,1,1
1,FMR32320302,"Tuesday, March 1, 2022",789320,25891203,347,"Wednesday, March 2, 2022","Wednesday, March 2, 2022",347,1,1,1
2,FMR33320501,"Tuesday, March 1, 2022",789320,25891203,187,"Thursday, March 3, 2022","Thursday, March 3, 2022",150,0,1,0
3,FMR34220601,"Tuesday, March 1, 2022",789220,25891203,235,"Friday, March 4, 2022","Friday, March 4, 2022",235,1,1,1
4,FMR33703603,"Tuesday, March 1, 2022",789703,25891203,176,"Thursday, March 3, 2022","Thursday, March 3, 2022",176,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...
57091,FAUG831420303,"Tuesday, August 30, 2022",789420,25891303,24,"Wednesday, August 31, 2022","Tuesday, August 30, 2022",24,1,1,1
57092,FAUG831122303,"Tuesday, August 30, 2022",789122,25891303,67,"Wednesday, August 31, 2022","Wednesday, August 31, 2022",54,0,1,0
57093,FAUG831702303,"Tuesday, August 30, 2022",789702,25891303,41,"Wednesday, August 31, 2022","Tuesday, August 30, 2022",37,0,1,0
57094,FAUG831221503,"Tuesday, August 30, 2022",789221,25891303,92,"Wednesday, August 31, 2022","Wednesday, August 31, 2022",83,0,1,0
57095,FAUG831202303,"Tuesday, August 30, 2022",789202,25891303,29,"Wednesday, August 31, 2022","Thursday, September 1, 2022",29,1,0,0

In [3]:
## Data cleaning procedures
## Checking null values in each column
fact_order_lines.isnull().sum()

order_id                0
order_placement_date    0
customer_id             0
product_id              0
order_qty               0
agreed_delivery_date    0
actual_delivery_date    0
delivery_qty            0
In Full                 0
On Time                 0
On Time In Full         0
dtype: int64

In [4]:
##checking data type
fact_order_lines.dtypes

order_id                object
order_placement_date    object
customer_id              int64
product_id               int64
order_qty                int64
agreed_delivery_date    object
actual_delivery_date    object
delivery_qty             int64
In Full                  int64
On Time                  int64
On Time In Full          int64
dtype: object

In [7]:
## Total order lines
len(fact_order_lines["order_id"])
print("Total number of order lines is", len(fact_order_lines["order_id"]))

Total number of order lines is 57096

In [13]:
## Number of order lines shipped in full quantity
orders_shipped_in_full_quantity=fact_order_lines[fact_order_lines["order_qty"]==fact_order_lines["delivery_qty"]]
len(orders_shipped_in_full_quantity)
print("Number of order lines shipped in full quantity is ", len(orders_shipped_in_full_quantity))

Number of order lines shipped in full quantity is  37661

In [89]:
## Line fill rate
Line_fill_rate=((len(orders_shipped_in_full_quantity))/len(fact_order_lines["order_id"]))*100
round(Line_fill_rate,2)
print("The line fill rate in percentage is ", round(Line_fill_rate,2))

The line fill rate in percentage is  65.96

In [46]:
## volume fill rate
total_qty_shipped=fact_order_lines["delivery_qty"].sum()
total_qty_ordered=fact_order_lines["order_qty"].sum()
volume_fill_rate=(total_qty_shipped/total_qty_ordered)*100
round(volume_fill_rate,2)
print("The volume fill rate in percentage is" ,round(volume_fill_rate,2))

The volume fill rate in percentage is 96.59

In [48]:
orders=pd.read_csv("D:/python practice projects/supply and chain/C2 Input for participants/fact_orders_aggregate.csv")
orders
## Checking null values
orders.isnull().sum()

order_id                0
customer_id             0
order_placement_date    0
on_time                 0
in_full                 0
otif                    0
dtype: int64

In [51]:
## Total number of orders

len(orders["order_id"])
print("The total number of orders is",len(orders["order_id"]))

The total number of orders is 31729

In [58]:
## Total on time delivery
orders["on_time"].value_counts()[1]
print("The total number of on time delivery is",orders["on_time"].value_counts()[1])

The total number of on time delivery is 18730

In [63]:
## On time delivery percentage
on_time=((orders["on_time"].value_counts()[1]/len(orders["order_id"]))*100)
round(on_time,2)
print("Ontime delivery percentage is",round(on_time,2))

Ontime delivery percentage is 59.03

In [66]:
## Number of orders delivered in full quantity

orders["in_full"].value_counts()
print("The number of orders delivered in full quantity is",orders["in_full"].value_counts()[1])

The number of orders delivered in full quantity is 16747

In [70]:
## Percentage of full quantiy delivery

Full_quantity_delivery_pecentage=((orders["in_full"].value_counts()[1]/len(orders["order_id"]))*100)
round(Full_quantity_delivery_pecentage,2)
print("Percentage of full quantity delivery is",round(Full_quantity_delivery_pecentage,2))

Percentage of full quantity delivery is 52.78

In [73]:
## Number of orders delivered in both on time and in full delivery

orders["otif"].value_counts()
print("The Number of orders delivered in both on time and in full" ,orders["otif"].value_counts()[1])

The Number of orders delivered in both on time and in full 9208

In [78]:
## Percentage of delivery in both on tiome and full quantity delivery
both_ot_if=((orders["otif"].value_counts()[1]/len(orders["order_id"])*100))
round(both_ot_if,2)
print("Percentage of delivery in both on tiome and full quantity delivery is",round(both_ot_if,2))

Percentage of delivery in both on tiome and full quantity delivery is 29.02

In [79]:
## Importing dataset
target=pd.read_csv("D:/python practice projects/supply and chain/C2 Input for participants/dim_targets_orders.csv")
target

    customer_id  ontime_target%  infull_target%  otif_target%
0        789201              87              81            70
1        789202              85              81            69
2        789203              92              76            70
3        789301              89              78            69
4        789303              88              78            69
5        789101              86              80            69
6        789102              90              81            73
7        789103              92              67            62
8        789121              78              77            60
9        789122              76              65            49
10       789220              91              76            69
11       789221              85              80            68
12       789320              91              81            74
13       789321              87              81            70
14       789401              85              79            67
15       789402              89              80            71
16       789403              86              79            68
17       789420              75              79            59
18       789421              78              66            51
19       789422              79              81            64
20       789501              92              80            74
21       789503              86              82            71
22       789520              75              68            51
23       789521              78              79            62
24       789522              76              79            60
25       789601              92              67            62
26       789603              92              75            69
27       789702              89              66            59
28       789703              85              78            66
29       789621              92              81            75
30       789622              90              79            71
31       789720              86              77            66
32       789721              89              75            67
33       789902              90              81            73
34       789903              92              65            60

In [80]:
## Average of on time target
target["ontime_target%"].mean()

86.08571428571429

In [82]:
## Average of in full time target
target["infull_target%"].mean()

76.51428571428572

In [83]:
## Average of on time in full target
target["otif_target%"].mean()

65.91428571428571